body{
    font-family: "Red Hat Display";
    background-color: hsl(225, 100%, 94%);
    
}
.attribution {
    font-size: 11px;
    text-align: center;
 }
.attribution a {
    color: hsl(228, 45%, 44%);
    margin-right: 30px;
    }
.container{
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow: 0px 0px 5px 0px;
    background-color: snow;
    width: 27%;
}
h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
h2{
    font-weight: 700;
    font-size: 0.9em;
}
.one{
    width: 100%;
    border-radius: 10px;
}
.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
a{
    margin-top: 28px;
    margin-right: 60px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.two{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
  margin-left: 30px;
}
p{
    margin-right: 30px;
    color: hsl(223, 47%, 23%);
}
button{
    background-color: rgb(100, 100, 181);
}
.btn1{
    border-radius: 10px;
    width: 250px;
    height: 40px; 
    color: white;   
}

.btn2{
    width: 250px;
    height: 40px; 
    color: black;  
    border: none; 
    background-color: white;
}
button:hover{
    background-color: rgb(12, 60, 194);
}

@media only screen and (max-width:375px){
    .container{
        top: 53%;
        width: 88%;
    }
}
